In [58]:
import pandas as pd
from scipy.stats import ranksums

In [60]:
data1 = pd.DataFrame({
    'ESCORE': [75.73, 75.98, 53.93, 71.24, 76.47, 81.82, 87.93, 72.75, 79.1, 81.4, 89.93, 40.35, 75.37, 69.3,
               62.27, 68.05, 67.55, 59.35, 67.73, 84.2, 75.52, 90.29, 79.73, 82.89, 58.5, 64.81, 81.15, 73.83,
               59.35, 74.61, 40.35, 40.35, 75.15, 61.28, 52.56, 73.41, 73.92, 84.53, 84.13, 87.24, 83.09, 75.49,
               84.01, 74.95],
    'CAR': [0.8689, 0.4881, 2.534, 8.4463, 2.542, 2.8592, 1.9988, 6.7057, 4.5001, 2.2519, 0.5355, 3.8676, 6.3378,
            4.7802, 2.233, 8.2921, 6.6417, 9.8743, 9.4078, 0.6454, 2.1114, 1.5921, 1.4181, 1.3677, 2.8075, 1.819,
            1.7371, 0.4907, 12.0459, 2.6409, 3.8676, 3.8676, 0.0876, 7.4464, 4.5973, 1.9413, 0.8044, 0.6965, 0.2612,
            0.0069, 0.1712, 0.9568, 0.9479, 3.697],
    'GREEN': [124.3748, 1162.7254, 0, 20.1234, 279.8655, 33.9701, 18.3573, 0, 4.3178, 0, 418.6987, 0, 234.4702, 0,
              0, 0, 0, 0, 0, 0.5886, 0, 158.1681, 0, 130.657, 0, 0, 32.3583, 0, 0, 0, 0, 0, 0, 0, 0, 0, 158.2675,
              2.9462, 6.813, 0, 69.9519, 0, 170.4354, 6.7995],
    'treatment': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
})

In [62]:
treatment_1 = data1[data1['treatment'] == 1]
treatment_0 = data1[data1['treatment'] == 0]

In [64]:
treatment_1.head()

   ESCORE     CAR      GREEN  treatment
0   75.73  0.8689   124.3748          1
1   75.98  0.4881  1162.7254          1
2   53.93  2.5340     0.0000          1
3   71.24  8.4463    20.1234          1
4   76.47  2.5420   279.8655          1

In [66]:
results = {
    'ESCORE': ranksums(treatment_1['ESCORE'], treatment_0['ESCORE'], alternative='greater'),
    'CAR': ranksums(treatment_1['CAR'], treatment_0['CAR'], alternative='less'),
    'GREEN': ranksums(treatment_1['GREEN'], treatment_0['GREEN'], alternative='greater')
}

results

{'ESCORE': RanksumsResult(statistic=-0.036155076303109365, pvalue=0.5144206467669177),
 'CAR': RanksumsResult(statistic=1.7715987388523589, pvalue=0.9617694053991288),
 'GREEN': RanksumsResult(statistic=1.2654276706088277, pvalue=0.10285903063211416)}

In [70]:
data2 = pd.DataFrame({
    'ESCORE': [65.23, 64.92, 68.91, 49.6, 77.29, 81.87, 66.31, 75.76, 63.54, 64.18, 83.82, 47.76, 53.22, 72.99, 73.21, 83.45, 66.69],
    'CAR': [3.682, 0.7295, 3.1534, 3.8676, 1.958, 0.0807, 0.565, 2.0402, 1.25, 2.1826, 3.4197, 1.2538, 9.8172, 4.536, 1.158, 1.3275, 2.7257],
    'GREEN': [0, 0, 0, 0, 67.1199, 7.929, 0, 202.7572, 142.6322, 0, 15.8851, 0, 0.2773, 1.5065, 0, 3.9919, 26.688],
    'treatment': [1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
})

In [72]:
treatment_1 = data2[data2['treatment'] == 1]
treatment_0 = data2[data2['treatment'] == 0]

In [74]:
treatment_1.head()

   ESCORE     CAR    GREEN  treatment
0   65.23  3.6820   0.0000          1
1   64.92  0.7295   0.0000          1
2   68.91  3.1534   0.0000          1
3   49.60  3.8676   0.0000          1
4   77.29  1.9580  67.1199          1

In [76]:
results = {
    'ESCORE': ranksums(treatment_1['ESCORE'], treatment_0['ESCORE'], alternative='greater'),
    'CAR': ranksums(treatment_1['CAR'], treatment_0['CAR'], alternative='less'),
    'GREEN': ranksums(treatment_1['GREEN'], treatment_0['GREEN'], alternative='greater')
}

results

{'ESCORE': RanksumsResult(statistic=0.0, pvalue=0.5),
 'CAR': RanksumsResult(statistic=-0.10050378152592121, pvalue=0.45997219040850373),
 'GREEN': RanksumsResult(statistic=-0.9045340337332909, pvalue=0.8171438518592433)}

In [81]:
data3 = pd.DataFrame({
    'ESCORE': [82.52, 78.05, 86.9, 85.92, 81.98, 82.54, 73.22],
    'CAR': [5.1056, 4.2092, 2.6268, 1.7464, 17.6381, 0.1646, 7.7575],
    'GREEN': [969.3758, 6.9819, 1222.0844, 0, 1.3652, 0.3225, 416.4035],
    'treatment': [1, 1, 1, 0, 0, 0, 0]
})

In [83]:
treatment_1 = data3[data3['treatment'] == 1]
treatment_0 = data3[data3['treatment'] == 0]

In [85]:
treatment_1.head()

   ESCORE     CAR      GREEN  treatment
0   82.52  5.1056   969.3758          1
1   78.05  4.2092     6.9819          1
2   86.90  2.6268  1222.0844          1

In [87]:
results = {
    'ESCORE': ranksums(treatment_1['ESCORE'], treatment_0['ESCORE'], alternative='greater'),
    'CAR': ranksums(treatment_1['CAR'], treatment_0['CAR'], alternative='less'),
    'GREEN': ranksums(treatment_1['GREEN'], treatment_0['GREEN'], alternative='greater')
}

results

{'ESCORE': RanksumsResult(statistic=0.35355339059327373, pvalue=0.36183680491588155),
 'CAR': RanksumsResult(statistic=0.0, pvalue=0.5),
 'GREEN': RanksumsResult(statistic=1.7677669529663687, pvalue=0.038549935871770885)}

In [91]:
data4 = pd.DataFrame({
    'ESCORE': [79.04, 79.55, 82.18, 84.74, 82.24, 78.16, 83.76, 82.34, 78.89, 79.93, 79.16],
    'CAR': [0.165, 0.2478, 0.3282, 0.3352, 0.5084, 0.1721, 0.2602, 0.2154, 0.3517, 0.1794, 0.0695],
    'GREEN': [0, 169.986, 280.9768, 124.0718, 8.4642, 48.6823, 0, 0, 14.2674, 0, 0],
    'treatment': [1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0]
})

In [93]:
treatment_1 = data4[data4['treatment'] == 1]
treatment_0 = data4[data4['treatment'] == 0]

In [95]:
treatment_1.head()

   ESCORE     CAR     GREEN  treatment
0   79.04  0.1650    0.0000          1
1   79.55  0.2478  169.9860          1
2   82.18  0.3282  280.9768          1
3   84.74  0.3352  124.0718          1

In [97]:
results = {
    'ESCORE': ranksums(treatment_1['ESCORE'], treatment_0['ESCORE'], alternative='greater'),
    'CAR': ranksums(treatment_1['CAR'], treatment_0['CAR'], alternative='less'),
    'GREEN': ranksums(treatment_1['GREEN'], treatment_0['GREEN'], alternative='greater')
}

results

{'ESCORE': RanksumsResult(statistic=0.3779644730092272, pvalue=0.3527284930556367),
 'CAR': RanksumsResult(statistic=0.1889822365046136, pvalue=0.5749466304307371),
 'GREEN': RanksumsResult(statistic=1.7008401285415224, pvalue=0.04448650585090667)}